:root {
    --color-rust: #E25822; /* Rust */
    --color-yellow: #F1A208; /* Yellow */
    --color-off-white: #F4EBD0; /* Off-white */
    --color-black: #333; /* Black */
  }

section {
    padding: 0 2rem; /* Add uniform padding inside on both sides */
  }
body{
  background-color: var(--color-off-white); /* Off-white background for all sections */

}
h1, h2{
  margin-top: 0rem;
  margin-bottom: 1rem;
  color: var(--color-rust); /* Rust color for sub-sections */

}

p {
  color: var(--color-black); 
  font-size: 1.2rem;
  line-height: 1.8;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h1{
  font-size: 2rem;
}
h2 {
font-size: 1.5rem; /* Match font size with previous section */
font-weight: bold; /* Bold for sub-sections */
}

/* Ensure sections have enough padding when scrolled into view */
section {
  scroll-margin-top: 80px; /* Adjust based on your header height */
}

  
  
  