:root {
    --color-rust: #E25822; /* Rust */
    --color-yellow: #F1A208; /* Yellow */
    --color-off-white: #F4EBD0; /* Off-white */
    --color-black: #333; /* Black */
  }

section {
    padding: 0 2rem; /* Add uniform padding inside on both sides */
    background-color: var(--color-off-white); /* Off-white background for all sections */

  }
  
  