/* Home Section Styles */
  .home-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;

  }
  
  /* Logo Section */
  .home-logo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Description Section */
  .home-description {
    flex: 1;
  }

  .home-description p{
    text-align: left;
  }
 
  /* Media Query: Adjust for smaller screens */
@media (max-width: 1100px) {
  .home-container {
    flex-direction: column; /* Stack elements vertically */
    gap: 0rem;
  }

}
@media (max-width: 768px) {
  .home-container {
    flex-direction: column; /* Stack elements vertically */
    gap: 1.5rem; /* Reduce gap between elements */
    width: 90%; /* Adjust container width */
    gap: 0rem;
  }

  .home-description h1 {
    font-size: 2rem; /* Smaller heading font size */
  }

  .home-description p {
    font-size: 1rem; /* Smaller paragraph font size */
  }
}

@media (max-width: 480px) {
  .home-container {
    width: 90%;
    gap: 1rem; /* Narrow gap */
  }

  .home-description h1 {
    font-size: 1.8rem; /* Further reduce heading size */
  }

  .home-description p {
    font-size: 0.9rem; /* Further reduce paragraph size */
  }
}
  